.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    display: none;
  }
}
